<script type="text/javascript">
function myFunction() {
    var x = document.createElement("AUDIO");

    if (x.canPlayType("audio/mpeg")) {
        x.setAttribute("src","{{filepath}}");
    } else {
        x.setAttribute("src","{{filepath}}");
    }

    x.setAttribute("controls", "controls");
    document.body.appendChild(x);
}
</script>
<script type="text/javascript" src="/static/js/main.js"></script>
<button onclick="myFunction();">Play</button>
<button onclick="startRecord();">Record</button>